*{
	margin: 0;
	padding: 0;
}

body {
	touch-action: pan-y;
	background-color: #1A1A1A;
	position: relative;
}

@font-face {
	font-family: 'Pac-font';
	src: url('/assets/font/PAC-FONT.TTF') format('truetype');
}

/* Preloader */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1A1A1A;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.preloader img{
	max-width: 300px;
}

.dots {
	display: flex;
	gap: 15px;
	position: relative;
	justify-content: center;
	align-items: center;
}

.dot {
	width: 10px;
	height: 10px;
	background: yellow;
	border-radius: 50%;
	opacity: 0;
	animation: appear 1s linear infinite;
}

.dot:nth-child(1) {
	animation-delay: 0s;
}

.dot:nth-child(2) {
	animation-delay: 0.2s;
}

.dot:nth-child(3) {
	animation-delay: 0.4s;
}

.dot:nth-child(4) {
	animation-delay: 0.6s;
}

.dot:nth-child(5) {
	animation-delay: 0.8s;
}

@keyframes appear {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Audio */
.audio-controls {
	margin: 15px;
}

.audio-controls button {
	padding: 13px;
	font-size: 20px;
	cursor: pointer;
	background: #FFD308;
	color: #1A1A1A;
	border: none;
	border-radius: 50%;
	margin-left: 90%;
}

/* Container */
.container {
	display: flex;
	flex-direction: column;
	gap: 300px;
	justify-content: center;
	align-items: center;

}

.mbox{
	display: flex;
	flex-direction: column;
}

#maze {
	position: absolute;
	min-width: 340px;
	min-height: 240px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mbox img{
	width: 350px; 
	height: 100px; 
}

#timer{
	color: #FFD308;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
}

.buttons {
	width: 210px;
	height: 140px;
	background: #1A1A1A;
	align-self: center;
	justify-self: center;
	display: grid;
	grid-template-rows: 70px 70px;
	grid-template-columns: 70px 70px 70px;
}

.btn {
	width: 60px;
	height: 60px;
	border: 2px #fff solid;
	border-bottom: 2px #fff solid;
	align-self: center;
	justify-self: center;
	cursor: pointer;
	border-radius: 8px;
	display: grid;
}
.chevron {
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	color: #222;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}

#bu {
	grid-column-start: 2;
}
#bd {
	grid-column-start: 2;
	grid-row-start: 2;
}
#bl {
	grid-column-start: 1;
	grid-row-start: 2;
}
#br {
	grid-column-start: 3;
	grid-row-start: 2;
}

#thingie,
#home {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
}

.emo {
	position: absolute;
	top: 4px;
	left: 1px;
	width: 13px;
	height: 13px;
	border-radius: 20px;
	font-size: 15px;
	line-height: 15px;
	text-align: left;
}

.barrier {
	position: absolute;
	background: #fff;
}

#top {
	top: 20px;
	left: 20px;
	width: 300px;
	height: 2px;
}

#bottom {
	top: 220px;
	left: 20px;
	width: 302px;
	height: 2px;
}


button {
	display: inline-block;
	border: none;
	padding: none;
	margin: 0;
	outline: none;
	background: none;
	-webkit-tap-highlight-color: transparent;
}


button:focus {
	outline: none;
}

button:active {
	transform: scale(1);
}

/* Pop-up overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}
        
.popup {
    background-color: #FFD308;
	width: 23%;
	height: 40vh;
    text-align: center;
	border-radius: 10px;
}

.popup h2{
	font-size: 40px;
	font-family: 'Pac-font', sans-serif;
	color: #222;
	margin-top: 70px;
}

#playAgainButton{
	font-size: 20px;
	font-family: 'Pac-font', sans-serif;
	color: #fff;
	background-color: #222;
	border-radius: 10px;
	padding: 20px;
	margin-top: 40px;
}

#playAgainWinButton{
	font-size: 20px;
	font-family: 'Pac-font', sans-serif;
	color: #fff;
	background-color: #222;
	border-radius: 10px;
	padding: 20px;
	margin-top: 40px;
}